
.header {
    height: 55px;
    margin: 0;
    background-color: #F55A5A;
    display: flex;
    justify-content: center;
    align-items: center;
}


.headerImage {
    width: 24px;
    border-radius: 12px;
    border-style: none;
    margin-right: 7px;
    background-color: transparent;
}

.headerText {
    color: white;
    font-weight: 200;
    font-size: 30px;
}